<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style.css">
    <!-- <title>| puddle |</title> -->
</head>
<body>
<<<<<<< HEAD
    <nav> 
        <a href="/admin">
            <h1>| Puddle |</h1>
        </a>
=======
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Puddle</a>
            <div class="justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <% if (admin) {%>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/new/item">new item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create">new admin</a>
                        </li>
                        </ul>
                        <!-- Search area -->
                        <form class="d-none d-lg-flex m-2">
                          <input class="form-control me-2 w-75" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active text-white btn btn-danger" href="/logout">log out</a>
                            </li>
                        </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
>>>>>>> 6f5c575... Perfected admin end

    <div class="actions">
        <% if (admin) {%>
            <ul>
                <a href="/item"><li> edit item</li></a>
                <a href="/new/item"><li> new item</li></a>
                <a href="/create"><li> new admin</li></a>
                <a class="logout" href="/logout"><li class="tag">log out </li></a>
            </ul>
        <% } %>
    </div>
</nav>
</body>
</html>