<%- include('partials/header'); -%>

<header>
    <div class="container-lg">
        <div class="row justify-content-center">
            <form class="p-2 form rounded w-50 w-sm-25 border mt-5 p-5 mx-auto">
                    <h2 class="text-white ">Admin Login</h2>
                    <div class="mb-3">
                        <label for="email" class="form-label text-white">Enter email: </label>
                        <input type="email" class="form-control w-100" id="email" required placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white">Enter password: </label>
                        <input type="password" class="form-control w-100" id="password" required placeholder="Enter your password">
                    </div>
                    <div class="error div text-danger"></div>
                    <button class="btn btn-primary">Log in</button>
                </form>
            </div>
    </div>
</header>

<script>
    const form = document.querySelector('.form');
    const errorDiv = document.querySelector('.error.div');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        //reset errors
        errorDiv.textContent='';

        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/admin/login',{
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'content-Type' : 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                errorDiv.innerHTML = `${data.errors.email}<br> ${data.errors.password}<br> ${data.errors.full_name}`;
            }
            if (data.admin) {
                location.assign('/admin');
            }
        } catch (err) {
            console.log(err);
        }
    })
</script>