<%- include('partials/adminheader') -%>
<<<<<<< HEAD
<form class="edit_fil">
    <div class="edit_file">
        <label for="item_id" >Enter item id: </label><br>
        <input type="text" name="item_id" required><br><hr>
        <h2>Edit data</h2><hr>
        <label for="item_name" >Enter new item name: </label><br>
        <input type="text"name="item_name"><br>
        <label for="price" >Enter new price: </label><br>
        <input type="number" value="1" name="price"><br>
        <label for="description" >Enter new description:  </label><br>
        <input type="text" name="description"><br>
        <label for="photo" >Enter new photo </label><br>
        <input type="file" name="photo"><br>
        <button class="sub">Save changes</button>
    </div>
</form>

=======
<header>
    <title>Puddle | Edit item</title>
    <div class="container-sm mt-2">
    <div class="row justify-content-center">
        <form class="form col col-md-6">
            <div class="mb-3">
                <label for="item_id" class="form-label text-white">Enter Item id: </label>
                <input type="text" class="form-control w-100" id="item_id" required>
            </div>
            <h2 class="text-white">Edit data</h2>
            <div class="mb-3">
                <label for="item_name" class="form-label text-white">Enter Item name: </label>
                <input type="text" class="form-control w-100" id="item_name" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label text-white">Enter new price: </label>
                <input type="text" class="form-control w-100" id="price" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label text-white">Enter new description: </label>
                <input type="text" class="form-control w-100" id="description" required>
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label text-white">Enter new photo: </label>
                <input type="file" class="form-control w-100" id="photo" required>
            </div>
            <div class="d-flex">
                <button class="btn btn-primary m-2">Save changes</button>
                <a class="btn btn-danger m-2" href="/admin">Back</a>
            </div>
        </form>
    </div>
    </div>
</header>
>>>>>>> 6f5c575... Perfected admin end
<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const _id = form.item_id.value;
        const item_name = form.item_name.value;
        const price = form.price.value;
        const description = form.description.value;
        const photo = form.photo.value;

        try {
        const res = await fetch('/item/update',{
            method: 'PUT',
            body: JSON.stringify({ _id, item_name, price, description, photo }),
            headers: { 'Content-Type' : 'application/json' }
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
            console.log(data.errors);
        }
        if (data.updatedItem) {
            location.reload();
        }
    } catch (err) {
        console.log(err);
    }
    })
</script>