<%- include('partials/adminheader') -%>
<div class="container-lg">
    <div class="row justify-content-center">
        <form class="p-2 rounded w-50 w-sm-25 m-2 mx-auto">
                <div class="mb-3">
                    <label for="item_id" class="form-label text-white">Enter Item id: </label>
                    <input type="text" class="form-control w-100" id="item_id" required>
                </div>
                <h2 class="text-white">Edit data</h2>
                <div class="mb-3">
                    <label for="item_name" class="form-label text-white">Enter Item name: </label>
                    <input type="text" class="form-control w-100" id="item_name" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label text-white">Enter new price: </label>
                    <input type="text" class="form-control w-100" id="price" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label text-white">Enter new description: </label>
                    <input type="text" class="form-control w-100" id="description" required>
                </div>
                <div class="mb-3">
                    <label for="photo" class="form-label text-white">Enter new photo: </label>
                    <input type="file" class="form-control w-100" id="photo" required>
                </div>
                <button class="btn btn-primary">Save changes</button>
            </form>
        </div>
</div>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const _id = form.item_id.value;
        const item_name = form.item_name.value;
        const price = form.price.value;
        const description = form.description.value;
        const photo = form.photo.value;

        try {
        const res = await fetch('/item/update',{
            method: 'PUT',
            body: JSON.stringify({ _id, item_name, price, description, photo }),
            headers: { 'Content-Type' : 'application/json' }
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
            console.log(data.errors);
        }
        if (data.updatedItem) {
            location.reload();
        }
    } catch (err) {
        console.log(err);
    }
    })
</script>