<%- include('partials/header') -%>

<div class="container">
    <div class="row">
        <h1 class="text-white text-center">View Item</h1>
        <p class="text-white"><%= item.item_name %></p>
    </div>
</div>