<%- include('partials/header'); -%>

<header class="header_content">
    <div class="main"> 
        <!-- <img src="../public/puddle.png" alt="puddle image"> -->
    <div class="cont">
        <h1> Connect To Our Biggest Digital Marketplace </h1>
        <p>Puddle is an online market place that allows you to participate in the global market by
            finding new items, allow you to sell items and review items
        </p>
        <div class="wlcm_btn">
            <a href="/dashboard" class="text-white bg-yellow-500 p-3 rounded-xl hover:bg-red-600"> Start trading</a>
            <a href="#" class="text-white bg-yellow-500 p-3 rounded-xl hover:bg-red-600"> learn more</a>
        </div>
    </div>
</div>
</header>