<%- include('partials/header'); -%>
<title>Welcome | Puddle </title>
<header>
    <div class="container-lg">
        <h1 class="text-white display-5"> Connect To Our Biggest Digital Marketplace </h1>
        <p class="text-white lead">Puddle is an online market place that allows you to participate in the global market by
            finding new items, allow you to sell items and review items
        </p>
    </div>
        <div class="container">
            <a href="/dashboard" class="btn btn-outline-primary m-2"> Start trading</a>
        </div>
</header>
<%- include('partials/footer') %>