<%- include('partials/header') %>

<header>
    <h1 class="display-5 text-white">Buy now using paypal</h1>
    <form action="/pay" method="post">
        <input type="submit" value="buy">
    </form>
</header>