<%- include('partials/header'); -%>

<header>
    <div class="content">
        <h1>User details </h1><hr>
        <% if (user) { %>
            <img src=<%= user.profile_photo %> alt="Your profile photo" class="profile"><hr>
            <h2>User name: <%= user.full_name %></h2>
            <h2>Email: <%= user.email %></h2>
        <% } %>
        <div class="back_btn">
            <a href="/dashboard">Back</a>
        </div>
    </div>
</header>