<%- include('partials/header'); -%>

<header>
    <div class="content">
        <h1>Create Account</h1>
        <form>
            <div class="input_field">
                <label for="full_name">Full name: </label><br>
                <input type="full_name" name="full_name">
            </div>
            <div class="input_field">
                <label for="email">Email: </label><br>
                <input type="text" name="email">
            </div>
            <div class="input_field">
                <label for="password">Password: </label><br>
                <input type="password" name="password">
            </div>
            <div class="error div"></div>
            <button>Sign up</button>
        </form>
    </div>
</header>

<script src="../public/signup.js"></script>