<%- include('partials/header'); -%>

<header>
    <div class="container-lg">
        <div class="row justify-content-center">
            <form class="p-2 rounded w-50 w-sm-25 border mt-5 p-5 mx-auto">
                    <h2 class="text-white ">Sign in</h2>
                    <div class="mb-3">
                        <label for="full_name" class="form-label text-white">Enter full name: </label>
                        <input type="text" class="form-control w-100" id="full_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label text-white">Enter email: </label>
                        <input type="email" class="form-control w-100" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white">Enter password: </label>
                        <input type="password" class="form-control w-100" id="password" required>
                    </div>
                    <div class="error div text-danger"></div>
                    <button class="btn btn-primary">Log in</button>
                </form>
            </div>
    </div>
</header>

<script src="../public/signup.js"></script>