/* ::-webkit-scrollbar{
    display: none;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://t4.ftcdn.net/jpg/04/20/31/97/360_F_420319797_o1l1eVVM9xuRytt5Gh50hNFDIbQR8pDm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    color: #fff;
    background-color: rgba(57, 14, 156, 0.486);
}

.instruction {
    display: none;
}

#password:focus + .instruction,
#email:focus + .instruction,
#full_name:focus + .instruction {
    display: block;
}

.sub:hover {
    background-color: yellowgreen;
}